@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .transparent-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .transparent-scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #727375;
  }

  .transparent-scrollbar::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 100vh;
    border: 2px solid #727375;
  }

  .transparent-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #f7f4ed;
  }
}
